{% extends "base.html" %}
{% load static %}

{% block content %}

<p>Let's see who's in the zoo today...</p>

<div class="the-goods">
    <p>Wooow, look at these guys</p>
    {% for post in object_list %}
    <div class="animal-box">
        {% if "placeholder" in post.featured_image.url %}
        <img class="small-pic" src="{% static 'images/placeholder.png' %}" alt="placeholder image">
        {% else %}
        <img class="small-pic" src=" {{ post.featured_image.url }}" alt="{{ post.name }}">
        {% endif %}

        <h3>{{post.name}} </h3> <p>the <span>{{post.type}}</span></p>
        <p>Danger level: {{post.danger}}</p>
        <a href="{% url 'animal_detail' post.slug %}">Take a closer look</a>
    </div>

    {% endfor %}


</div>


{% endblock %}