{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="pic-container">
    {% if "placeholder" in post.featured_image.url %}
    <img src="{% static 'images/placeholder.png' %}"
      alt="placeholder image">
    {% else %}
    <img src=" {{ post.featured_image.url }}"
    alt="{{ post.name }}">
  {% endif %}
</div>


<p>Here is {{ post.name }}</p>
<p>It is a {{ post.type }}</p>
<p>What you need to know about {{ post.name }}:</p>
<article>
    {{ post.description | safe }}
  </article>
<p>Its danger level is {{ post.danger }}</p>
<p>{{ post.name }} was last fed on {{ post.last_fed }}</p>


{% endblock content %}